:root {
  --Very-dark-cyan: hsl(183, 100%, 15%);
  --Dark-grayish-cyan: hsl(186, 14%, 43%);
  --Dark-grayish-cyan-2: hsl(184, 14%, 56%);
  --Light-grayish-cyan: hsl(185, 41%, 84%);
  --Light-grayish-cyan: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
}

body {
  width: 100%;
  height: 100vh;
  font-family: 'Space Mono', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: url('../images/logo.svg');
  background-repeat: no-repeat;
  background-size: 20%; */
}

.calculator-container {
  display: flex;
  width: 80%;
}

.container-1,
.container-2 {
  width: 50%;
}

.container-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.bill-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 0.3rem;
  background-color: var(--Light-grayish-cyan);
}

.select-tip-container h1 {
  margin: 0.5rem 0rem;
}

.tip-percent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tip-percent button {
  background-color: rgb(0, 73, 77);
  color: var(--White);
}

.tip-percent button,
input {
  width: 30.33%;
  cursor: pointer;
  padding: 1rem;
  margin: 0.3rem;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 0.5rem;
}

.no-of-people-container {
  width: 100%;
}

.inner-people-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 0.3rem;
  background-color: var(--Light-grayish-cyan);
}

.display-container {
  background-color: var(--Very-dark-cyan);
  border-radius: 0.5rem;
  color: var(--White);
  margin: 1rem 1rem;
}

.tip-amount-box,
.total-box {
  display: flex;
  justify-content: space-between;
  padding: 10% 5%;
}

.total-amount,
.tip-amount {
  display: flex;
}

.reset-button {
  cursor: pointer;
  padding: 1rem;
  text-align: center;
  width: 80%;
  margin-top: 20%;
  margin-left: 12%;
  margin-bottom: 12%;
  border-radius: 0.5rem;
  background-color: hsl(172, 67%, 45%);
}

span {
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Space Mono', monospace;
  color: hsl(172, 67%, 45%);
}

button {
  background-color: white;
}

input {
  background-color: var(--Light-grayish-cyan);
  text-align: center;
}

h5 {
  color: var(--Dark-grayish-cyan);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
